{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}
  {% trans "结算" %}
{% endblock %}

{% block content %}
  <h1>{% trans "结算" %}</h1>

  <div class="order-info">
    <h3>{% trans "您的订单" %}</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }} 
          <span>RMB{{ item.total_price|floatformat:"2" }}</span>
        </li>
      {% endfor %}
      {% if cart.coupon %}
        <li>
          {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
            "{{ code }}" ({{ discount }}% off)
          {% endblocktrans %}
          <span>-RMB{{ cart.get_discount|floatformat:"2" }}</span>
        </li>
      {% endif %}
    </ul>
    <p>{% trans "总计" %}: RMB{{ cart.get_total_price_after_discount|floatformat:"2" }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="{% trans "下订单" %}"></p>
    {% csrf_token %}
  </form>
{% endblock %}
